.people {
    margin: 130px 70px;
}
@media screen and (max-width: 1024px) {
    .people { 
        margin-left: 40px;
    }
}
@media screen and (max-width: 768px) {
    .people { 
        margin: 40px 15px;
    }
}